<p id="notice"><%= notice %></p>


<div id="cart">
  <div class="cart_title"><h3>Your Cart</h3></div>
  <ul>
    <dl>Product</dl>
    <dl>Qty</dl>
    </ul>
    <ul>
    <% @cart.line_items.each do |item| %>
        <dl class="<%= cycle :odd, :even %>">
          <%= item.quantity %> &times; <%= item.product.name %>
          <%= number_to_currency(item.total_price, :unit => '&euro;') %>
        </dl>
    <% end %> <br/>

    <h4>Total Price:  <%= number_to_currency(@cart.total_price, :unit => '&euro;') %> </h4>
    <br/>
    <br/>
    <%= button_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure?' %>
    <%= button_to "Checkout", new_order_path, :method => :get %>
  </ul>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', products_path %>

</div>
