<p id="notice"><%= notice %></p>

<p>
  <b>Category Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Category Id:</b>
  <%= @category.id%>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
