<p id="notice"><%= notice %></p>



<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @product.image_url %>
</p>

<p>
  <b>Weight:</b>
  <%= @product.weight %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<% if @product.category %>
    <p>
      <b>Category:</b>
      <%= @product.category.name %>
    </p>
<% end %>

<% if current_user and current_user.admin %>
    <%= link_to 'Edit', edit_product_path(@product) %>


<% end %>
<br/>
<%= link_to 'Back', products_path %>
