<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <title>Asian Online Shopping</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "defaults" %>
  <%= csrf_meta_tags %>
</head>
<body id="store">

<div id='banner'>
  <%= image_tag("logo.jpg") %>
  <div id="aos">
    <h3>ASIAN ONLINE SHOPPING</h3>
  </div>
  <div id='header'>
    <% if logged_in? %>
        <%= current_user.email %>
        <%= link_to '(Logout)', logout_path %>
        <%= link_to "Create User", new_user_path %>
    <% else %>
        <%= link_to "Login", login_path %> |
    <% end %>
  </div>
</div>

  <div id="cart">

  </div>





</div id= "columns">
<div id="side">
  <ul>
    <li><%= link_to "Home", :controller => "welcome", :action => "home" %></li>
    <li><%= link_to "Product Catalogue", products_path %></li>
    <li><%= link_to "Leave Site", :controller => "welcome", :action => "thank_you" %></li>
    <li><%= link_to "Register", :controller => "users", :action => "_form" %></li>
    <li><%= link_to "Cart", :controller => "carts", :action => "index" %></li>
  </ul>
</div>
</div>
<div id="main">


  <%= yield %>

</div>


</body>
</html>
